.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px;
  gap: 25px;
}

.showcase {
  position: sticky;
  width: 100%;
  aspect-ratio: 1 / 1.41;
  padding-bottom: 25px;
}

.paper-sheet {
  height: 100%;
  width: 100%;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vw;
}

.showcase-general {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.general-side-left {
  display: flex;
  flex-direction: column;
  gap: .2vw;
  align-items: flex-start;
  justify-content: center;
}

.general-side-right {
  display: flex;
  flex-direction: column;
  gap: .2vw;
  align-items: flex-end;
  justify-content: center;
}

.general-side-left p {
  font-size: .8vw;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: .3vw;
}

.general-side-right p {
  font-size: .8vw;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: .3vw;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name p {
  font-size: 1.5vw;
  font-weight: 700;
}

.showcase-skills {
  display: flex;
  flex-direction: column;
  gap: .5vw;
  width: 100%;
}

.sector-header p {
  font-size: 1.3vw !important;
  font-weight: 600;
}

.sector-header hr {
  border: none;
  border: 1px solid black;
}

.showcase-skills p {
  font-size: .9vw;
  width: 100%;
}

.showcase-education {
  display: flex;
  flex-direction: column;
  gap: .5vw;
}

.education {
  display: flex;
  flex-direction: column;
  gap: .5vw;
}

.ed-block {
  display: flex;
  flex-direction: column;
  gap: .3vw;
}

p#u-title {
  font-weight: 600;
  font-size: .9vw;
}

.duration-location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.duration-location p {
  color: gray;
  font-size: .9vw;
}

.showcase-work-experience {
  display: flex;
  flex-direction: column;
  gap: .5vw;
}

.work-experience {
  display: flex;
  flex-direction: column;
  gap: .5vw;
}

.w-block {
  display: flex;
  flex-direction: column;
  gap: .3vw;
}

p#w-title {
  font-weight: 600;
  font-size: .9vw;
}

.description {
  margin-left: 2vw;
  display: flex;
  gap: .3vw;
  flex-direction: column;
}

.description li {
  font-size: .9vw;
}

.content {
  position: relative;
}

.form-container {
  position: fixed;
  width: 48vw;
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.form-content {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 3vw;
  gap: 5vh;
  overflow-y: auto;
}

.form-content h1 {
  font-size: 5vh;
  color: royalblue;
}

.default-form-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2vh;
}

.default-form-menu button {
  display: flex;
  flex-direction: row;
  gap: 2.5vh;
  align-items: center;
  padding: 2.5vh;
  font-size: 2.5vh;
  border: none;
  background: rgb(255, 255, 255);
  color: royalblue;
  border-radius: 2vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 150ms ease-in-out;
}

.default-form-menu button:hover {
  cursor: pointer;
  background: rgb(206, 218, 255);
  box-shadow: rgba(206, 218, 255, 0.8) 0px 8px 24px;
}

button#return-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5vw;
  font-size: 1vw;
  border: none;
  background: none;
  color: royalblue;
  cursor: pointer;
}

button#return-btn:hover {
  text-decoration: underline;
}

button#download-btn {
  padding: .8vw;
  font-size: 1vw;
  border: none;
  border-radius: .8vw;
  background: none;
  border: .1vw solid royalblue;
  color: royalblue;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

button#download-btn:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.skills-form-menu,
.general-form-menu,
.ed-el,
.w-el {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.skills-form-menu div,
.general-form-menu div,
.ed-el div,
.w-el div {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 100%;
}

.skills-form-menu div label,
.general-form-menu div label,
.ed-el div label,
.w-el div label {
  font-size: 2.2vh;
  color: gray;
}

.ed-el div input,
.general-form-menu div input,
.skills-form-menu div textarea,
.w-el div input,
.w-el div textarea {
  padding: 1.3vh;
  border: none;
  border-radius: 1vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 2.2vh;
  color: gray;
}

.skills-form-menu div textarea,
.w-el div textarea {
  height: 30vh;
}

.education-form-menu,
.work-experience-form-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10vh;
}

button#new-ed-btn,
button#new-w-btn {
  padding: .8vw;
  font-size: 1vw;
  border: none;
  border-radius: .8vw;
  background: none;
  border: .1vw solid royalblue;
  color: royalblue;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

button#new-ed-btn:hover,
button#new-w-btn:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.education-list,
.work-list {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.ed-container,
.work-container {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

button#rm-ed-btn,
button#rm-w-btn {
  padding: .5vw;
  font-size: 1vw;
  border: none;
  border-radius: .5vw;
  background: none;
  border: .1vw solid rgb(227, 42, 42);
  color: rgb(227, 42, 42);
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

button#rm-ed-btn:hover,
button#rm-w-btn:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
