.navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 15px;
  background: #dbe3ff33;
  backdrop-filter: blur(15px);
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-bottom: 1px solid white;
}

button.title {
  border: none;
  background: none;
  cursor: pointer;
  background: rgb(219, 228, 255);
  padding: 1vh;
  border-radius: 1vh;
}

button.title span {
  color: rgb(139, 168, 255) !important;
}

button.title h1 {
  font-weight: bold;
  color: rgb(59, 72, 110);
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.buttons button {
  border: none;
  background: none;
  cursor: pointer;
}

.buttons button:hover {
  text-decoration: underline;
}